
<div class="container">
    <div class="row">
        <div class="col-12 mb-3 mb-lg-5">
            <div class="overflow-hidden card table-nowrap table-card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0"><b>CATEGORIES</b></h5>
                </div>
                <div class="table-responsive">
                    <table class="table mb-0">
                        <tbody>
                            <tr *ngFor="let category of categoryDetails" class="align-middle">
                                <td>{{category.categoryName}} <b>{{category.bookCount}}</b> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

