<div></div>
  <div class="login">
    <form [formGroup]="loginForm" class="form-signin">
      <img class="mb-4" style="text-align: center;" src="https://c8.alamy.com/comp/2CGBP5K/book-store-mini-shop-3d-rendering-2CGBP5K.jpg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input formControlName="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
      <label for="inputPassword" class="sr-only">Password</label>
      <input formControlName="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <div class="container">
          <button (click)="login()" style="text-align: left;" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          &nbsp;<button (click)="goToRegister()" style="text-align: right;" class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
      </div>
      
      <p style="text-align: center;" class="mt-5 mb-3 text-muted">© 2020-2023</p>
    </form>
  </div>

 