<body>
    <div class="parentDiv" >
        <div id="bookDetails" class="box">
            <form>
                <fieldset disabled>
                  <div  class="mb-3">
                    <label for="disabledTextInput" class="form-label">Book Name</label>
                    <input (select)="selectedBook" placeholder={{selectedBook.bookName}} type="text" id="disabledTextInput" class="form-control">
                  </div>
                </fieldset>
              </form>
        </div>
        <div id="customerDetails" class="box">
            b
        </div>
    </div>
   
</body>