<body>
    <div class="container" >
        <div id="bookDetails" class="box">
            <form>
                <fieldset disabled>
                  <div  class="mb-6">
                    <label for="disabledTextInput" class="form-label"><b>Book Name</b></label>
                    <input (select)="selectedBook" placeholder={{selectedBook.bookName}} type="text" id="disabledTextInput" class="form-control">
                  </div>
                  <div  class="mb-6">
                    <label for="disabledTextInput" class="form-label"><b>Daily Price</b></label>
                    <input (select)="selectedBook" placeholder=${{selectedBook.price}} type="text" id="disabledTextInput" class="form-control">
                  </div>
                </fieldset>
              </form>
        </div>
        &nbsp;
        <div id="customerDetails" class="box">
          <label for="disabledTextInput" class="form-label"><b>Customer Details</b></label>
          <select name="selectedCustomer" [(ngModel)]="selectedCustomerEmail" class="form-select" aria-label="Default select example">
            <option *ngFor="let customer of customers" value={{customer.email}} >{{customer.firstName}} {{customer.lastName}}</option>
          </select>
          <br>
          <button type="button" class="btn btn-success" (click)="rental()">Rent</button> &nbsp;
          <button type="button" class="btn btn-warning"  data-bs-toggle="modal" data-bs-target="#staticBackdrop" >New Customer</button>
        </div>
        
    </div>
   
</body>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">New Customer</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <app-customer-add></app-customer-add>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>