<br>
<div class="container">
  <div class="mb-3">
    <app-navi></app-navi>
    <div *ngIf="appService.isLoginSuccess" class="row">
      <div class="col-md-4">
        <app-category></app-category>
        <br>
        <app-author></app-author>
      </div>
      <div class="col-md-8">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div *ngIf="!appService.isLoginSuccess">
      <div class="col-md-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>