<div class="mb-3">
    <div class="text-bg-dark p-3" style="text-align: center;"><b>BOOKS</b></div>
</div>
<div class="mb-3">
  <table class="table">
    <thead>
      <tr>
        <th style="text-align: left;" scope="col">Book Name</th>
        <th style="text-align: left;" scope="col">Category</th>
        <th style="text-align: left;" scope="col">Author</th>
        <th style="text-align: left;" scope="col">UnıtsInStock </th>
        <th style="text-align: left;" scope="col">Price </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of bookDetails" >
        <td style="text-align: left;">{{book.bookName}}</td>
            <td style="text-align: left;">{{book.categoryName}}</td>
            <td style="text-align: left;">{{book.authorName }}</td>
            <td style="text-align: left;">{{book.unitsInStock}}</td>
            <td style="text-align: left;">{{book.price | currency}}</td>
      </tr>
    </tbody>
  </table>
</div>

