<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
    <div class="row">
        <div class="col-12 mb-3 mb-lg-5">
            <div class="overflow-hidden card table-nowrap table-card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0" style="text-align: center;"><b>BOOKS</b></h5>
                    <input type="text" class="btn btn-light btn-sm" placeholder="search">
                </div>
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead class="small text-uppercase bg-body text-muted">
                            <tr>
                                <th>Book Name</th>
                                <th>Category</th>
                                <th>Author</th>
                                <th>Unıts In Stock</th>
                                <th>Price</th>
                                <th class="text-end">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let book of bookDetails" class="align-middle">
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="avatar sm rounded-pill me-3 flex-shrink-0" alt="Customer">
                                        <div>
                                            <div class="h6 mb-0 lh-1">{{book.bookName}}</div>
                                        </div>
                                    </div>
                                </td>
                                <td>{{book.categoryName}}</td>
                                <td> <span class="d-inline-block align-middle">{{book.authorName}}</span></td>
                                <td ><span>{{book.unitsInStock}}</span></td>
                                <td>{{book.price | currency}}</td>
                                <td class="text-end">
                                    <div class="drodown">
                                        <a data-bs-toggle="dropdown" class="btn p-1" aria-expanded="false">
                                  <i class="fa fa-bars" aria-hidden="true"></i>
                                </a>
                                        <div class="dropdown-menu dropdown-menu-end" style="">
                                            <a href="#!" class="dropdown-item">View Details</a>
                                            <a href="#!" class="dropdown-item">Delete user</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="mb-3">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/books"><b>Books</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/books"><b>Employee</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/books"><b>Customers</b></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/books"><b>Rentals</b></a>
    </li>
  </ul>
  <table class="table">
    <thead>
      <tr>
        <th style="text-align: left;" scope="col">Book Name</th>
        <th style="text-align: left;" scope="col">Category</th>
        <th style="text-align: left;" scope="col">Author</th>
        <th style="text-align: left;" scope="col">UnıtsInStock </th>
        <th style="text-align: left;" scope="col">Price </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of bookDetails" >
        <td style="text-align: left;">{{book.bookName}}</td>
            <td style="text-align: left;">{{book.categoryName}}</td>
            <td style="text-align: left;">{{book.authorName }}</td>
            <td style="text-align: left;">{{book.unitsInStock}}</td>
            <td style="text-align: left;">{{book.price | currency}}</td>
      </tr>
    </tbody>
  </table>
</div> -->



