<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container">
  <div class="row">
    <div class="col-12 mb-3 mb-lg-5">
      <div class="overflow-hidden card table-nowrap table-card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="mb-0" style="text-align: center;"><b>BOOKS</b></h5>
          <input type="text" class="btn btn-light btn-sm" placeholder="search">
        </div>
        <div class="table-responsive">
          <table class="table mb-0">
            <thead class="small text-uppercase bg-body text-muted">
              <tr>
                <th>Book Name</th>
                <th>Category</th>
                <th>Author</th>
                <th>Unıts In Stock</th>
                <th>Price</th>
                <th style="text-align: center;">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let book of bookDetails" class="align-middle">
                <td>
                  <div class="d-flex align-items-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                      class="avatar sm rounded-pill me-3 flex-shrink-0" alt="Customer">
                    <div>
                      <div class="h6 mb-0 lh-1">{{book.bookName}}</div>
                    </div>
                  </div>
                </td>
                <td>{{book.categoryName}}</td>
                <td> <span class="d-inline-block align-middle">{{book.authorName}}</span></td>
                <td><span>{{book.unitsInStock}}</span></td>
                <td>{{book.price | currency}}</td>
                <td style="text-align: center;">
                  <div *ngIf="book.unitsInStock > 0">
                    <button (click)="setSelectedBook(book)"  type="button" class="btn btn-success"  data-bs-toggle="modal" data-bs-target="#staticBackdrop" >Rent Book</button>
                  </div>
                  <div *ngIf="book.unitsInStock <= 0">
                      <mat-icon style="color: red;">close icon</mat-icon>
                  </div>
                </td>

              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Rental Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Rent A Book</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div *ngIf="selectedBook"  class="modal-body">
          <form>
            <fieldset disabled>
              <div  class="mb-3">
                <label  for="disabledTextInput" class="form-label"><b>Book Details</b></label>
                <input (select)="selectedBook" placeholder = "{{selectedBook.bookName}} - {{selectedBook.authorName}}"  type="text" id="disabledTextInput" class="form-control">
              </div>
              <div  class="mb-3">
                <label for="disabledTextInput" class="form-label"><b>Daily Price</b></label>
                <input (select)="selectedBook" placeholder = ${{selectedBook.price}} type="text" id="disabledTextInput" class="form-control">
              </div>
            </fieldset>
          </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button (click)="openRentalPage()" type="button"  data-bs-dismiss="modal" class="btn btn-primary">Confirm Book</button>
      </div>
    </div>
  </div>
</div>
